*~
*.o
*.lo
*.la
*.swp
Makefile
Makefile.in
/INSTALL
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/jssql_config.h
/jssql_config.h.in
/libtool
/ltmain.sh
/m4/*
/missing
/src/.deps/
/src/.libs/
/src/test
/stamp-h1
